@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import './variables';
@import './layout';

* {
  margin: 0;  
  padding: 0;
}

body {
  font-family: $font_family;  
  color: $text_color;
  font-size: 12px;

  a {
    color: $link_color;
  }
}

header {
  display: block;
  nav {
    display: block;
    background: $pale;
    ul {
      width: $container_width;
      margin: 0 auto;
      li {
        a.current {
        }
      }
    }
  }
  h1 {
    font-size: 22px;
    font-family: $heading_font_family; 
    line-height: 24px;
    a {
      text-decoration: none;
    }
    span {
      display: block;
      font-size: 18px;
      color: $secondary_text_color;
      font-weight: normal;
    }
  }
}

ul.lobbyists {
  li {
    h3 {
      font-family: $heading_font_family;
    }
  }  
}
