@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import './variables';
@import './layout';

// reset
* {
  margin: 0;  
  padding: 0;
}

// global page elements
body {
  font-family: $font_family;  
  color: $text_color;
  font-size: $font_size;
  h1 {
    color: $secondary_heading_color;
    margin-bottom: 20px;
    border-bottom: $gray_border;
    padding-bottom: 10px;
    font-size: 20px;
    a.view-all {
      font-size: 12px;
      color: $secondary_text_color;
      font-weight: normal;
      font-style: italic;
    }
  }

  a {
    color: $link_color;
  }

  ul {
    li {
      list-style-type:none;
    }
  }

  p {
    line-height: 18px;
  }

  form {
    fieldset {
      border: none;  
      input {
        display: block;
        border: $gray_border;
      }
      button {
        display: block;
      }
    }
  }
}

// primary page elements
header {
  background: $pale;
  display: block;
  nav {
    display: block;
    background: $dark;
    overflow: hidden;
    padding: 10px 0;
    margin-bottom: 30px;
    ul {
      width: $container_width;
      margin: 0 auto;
      li {
        font-weight: bold;
        float: left;
        margin-right: 10px;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  h1 {
    font-size: 24px;
    font-family: $heading_font_family; 
    line-height: 26px;
    padding-bottom: 15px;
    a {
      text-decoration: none;
      color: $secondary_heading_color;
    }
    span {
      display: block;
      font-size: 18px;
      color: $secondary_text_color;
      font-weight: normal;
    }
  }
  form {
    width: $container_width;
    margin: 0 auto;
    fieldset {
      margin-top: -50px;
      float: right;
      input.text {
        font-style: inherit;
        font-size: 14px;
        padding: 10px;
        width: 200px;
        float: left;
      }
      button {
        float: left;
        background: #efefef;
        padding: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

//
section.cover {
  padding: 30px 0;
  margin-bottom: 30px;
  overflow: hidden;
  background: $pale_gray;
  border-top: $gray_border;
  border-bottom: $gray_border;
  div.overview {
    border: $gray_border;
    border-radius: 3px;
    background: #fff;
    padding: 20px 0;
    text-align: center;
    width: 22%;
    float: left;
    margin-right: 35px;
    p {
      font-size: 18px;
      font-weight: bold;
      color: $secondary_heading_color;
      font-family: $heading_font_family;
      span {
        display: block;
        color: $highlight_color;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

// lobbyist list
ul.lobbyists {
  clear: left;
  li.lobbyist {
    width: 50%;
    float: left;
    margin-bottom: 20px;
    h2 {
      font-family: $heading_font_family;
      color: $primary_heading_color;
    }
  }
}

ul.lobbyists.one-column {
  li {
    width: 100%;
    float: none;
  }  
}

footer {
  padding: 20px 0;
  display: block;
  overflow: hidden;
  background: $pale;
  border-top: $gray_border;
  clear: left;
  div.column {
    float: left;
    width: 50%;
    h2 {
      color: $secondary_heading_color;
      margin-bottom: 10px;
      font-family: $heading_font_family;
    }
    p {
      width: 80%;
    }
  }
}
