@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import './variables';
@import './layout';

// reset
* {
  margin: 0;  
  padding: 0;
}

// global page elements
body {
  font-family: $font_family;  
  color: $text_color;
  font-size: $font_size;

  a {
    color: $link_color;
  }

  ul {
    li {
      list-style-type:none;
    }
  }
}

// primary page elements
header {
  display: block;
  nav {
    display: block;
    background: $pale;
    overflow: hidden;
    padding: 10px 0;
    ul {
      width: $container_width;
      margin: 0 auto;
      li {
        font-weight: bold;
        float: left;
        margin-right: 10px;
        a {
          text-decoration: none;
        }
      }
    }
  }
  h1 {
    font-size: 22px;
    font-family: $heading_font_family; 
    line-height: 24px;
    a {
      text-decoration: none;
      color: $secondary_heading_color;
    }
    span {
      display: block;
      font-size: 18px;
      color: $secondary_text_color;
      font-weight: normal;
    }
  }
}

ul.lobbyists {
  li {
    h2 {
      font-family: $heading_font_family;
      color: $primary_heading_color;
    }
  }
}
