// Text Colors
$text_color: #555;
$secondary_text_color: #888;
$link_color: #027BB6;
$primary_heading_color: #111;
$secondary_heading_color: #346983;

// Font Styles
$font_family: helvetica, arial, sans-serif;
$heading_font_family: "Droid Sans", Arial, sans-serif;
$font_size: 12px;

// Background Colors
$pale: #E4F3FA;

// Layout
$container_width: 960px;
