<section class="cover">
  <div class="overview">
    <p><%= @lobbyists.count %> Lobbyists</p>
  </div>
  <div class="overview">
    <p><%= @firms.count %> Firms</p>
  </div>
  <div class="overview">
    <p><%= @principals.count %> Principals</p>
  </div>
</section>
