<section class="cover">
  <div class="container">
    <div class="overview">
      <h2>
        <span><%= @lobbyists.count %></span>
        <a href="/list/lobbyists">Lobbyists</a>
      </h2>
    </div>
    <div class="overview">
      <h2>
        <span><%= @firms.count %></span>
        <a href="/list/firms">Firms</a>
      </h2>
    </div>
    <div class="overview">
      <h2>
        <span><%= @principals.count %></span>
         <a href="/list/principals">Principals</a>
      </h2>
    </div>
    <div class="last overview">
      <h2>
        <span>1</span>
        City
      </h2>
    </div>
  </div>
</section>
