<section class="cover">
  <div class="container">
    <div class="overview">
      <h2>
        <span><%= @lobbyists.count %></span>
        Lobbyists
      </h2>
    </div>
    <div class="overview">
      <h2>
        <span><%= @firms.count %></span>
        Firms
      </h2>
    </div>
    <div class="overview">
      <h2>
        <span><%= @principals.count %></span>
        Principals
      </h2>
    </div>
    <div class="last overview">
      <h2>
        <span>1</span>
        City
      </h2>
    </div>
  </div>
</section>
