<section class="cover">
  <div class="container">
    <a class="overview" href="/list/lobbyists">
      <h2>
        <span><%= @lobbyists.count %></span>
        Lobbyists
      </h2>
    </a>
    <a class="overview" href="/list/firms">
      <h2>
        <span><%= @firms.count %></span>
        Firms
      </h2>
    </a>
    <a class="overview" href="/list/principals">
      <h2>
        <span><%= @principals.count %></span>
         Principals
      </h2>
    </a>
    <div class="last overview">
      <h2>
        <span>1</span>
        City
      </h2>
    </div>
  </div>
</section>
