<p>Starting in 2012, lobbyists and those paying for lobbyists in Philadelphia are required to register and file quarterly reports of their expenses.</p>

<p>All the data for this app is from the City of Philadelphia <a href="http://www.phila.gov/ethicsboard/lobbying.html">Board of Ethics</a>. We will update the app as more data is made available.</p>

<p>This app was created at Code Across America: Philadelphia's Civic Hackathon on Feb. 25, 2012 by <a href="https://twitter.com/#!/caseypt">@caseypt</a>, <a href="http://www.mikeball.us">Mike Ball</a><a href="https://twitter.com/#!/">@ahinz</a> and <a href="https://twitter.com/#!/dannyJF">@DannyJF</a>.</p>
