<p>Starting in 2012, lobbyists and those paying for lobbyists in Philadelphia are required to register and file quarterly reports of their expenses with the City of Philadelphia <a href="http://www.phila.gov/ethicsboard/lobbying.html">Board of Ethics</a>; who will make the data avaialble on a regular basis. This app seeks to catalog that data, make it more accesible and create visualizations to help citizens better understand the influence of lobbying in their City.</p>

<p>This app was created at Code Across America: Philadelphia's Civic Hackathon on Feb. 25, 2012 by <a href="https://twitter.com/#!/caseypt">@caseypt</a>, <a href="http://www.mikeball.us">Mike Ball</a>, <a href="https://twitter.com/#!/">@ahinz</a> and <a href="https://twitter.com/#!/dannyJF">@DannyJF</a>.</p>
