<!DOCTYPE HTML>
<html>
  <head>
  </head>
  <body>
    <header>
      <h1>
        <%= link_to "/", "Lobbying.ph" %>
        <span>Data on Philadelphia Lobbyists</span>
      </h1> 
    </header>
    <%= yield %>
  </body>
</html>
